@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    text-align: center;
    background-color: aliceblue;
}

.logo {
    margin-top: 15px;
    width: 200px;
}

form {
    margin-top: 20px;
}

#container {
    background-color: lightgreen;
    text-align: center;
    width: 60%;
    max-width: 400px;
    margin: 15px auto;
    padding-bottom: 15px;
    border: 10px solid rgb(255, 208, 0);
    border-radius: 5px;
    
}

li {
    list-style: none;  
}

img {
    width: 100px;
}

/** MODAL MAIN STYLES **/

.gen1-modal, .gen2-modal, .gen3-modal {
    background-color: rgb(211, 211, 211);
    width: 350px;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 20px;
    visibility: hidden;
    z-index: -10;
    opacity: .97;
    box-shadow: 1px -1px 18px 1px rgba(117, 117, 117, 0.75);
    -webkit-box-shadow: 1px -1px 18px 1px rgba(117, 117, 117, 0.75);
    -moz-box-shadow: 1px -1px 18px 1px rgba(117, 117, 117, 0.75);
}

/** MODAL SPACING STYLES **/

.gen1-modal {
    position: absolute;
    left: 50%;
    top: 1040px;
   
}

.gen2-modal {
    position: absolute;
    left: 50%;
    top: 740px;
   
}

.gen3-modal {
    position: absolute;
    left: 50%;
    top: 900px;
   
}

/* SEARCH BUTTON */

.search-btn {
    background-color: rgb(80, 142, 0);
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-family: Inter, san-serif;
    color: white;
}

.search-btn:hover {
  
  
    background-color: limegreen;

}

/* GEN 1 BUTTON */
.gen1-btn {
    background-color: rgb(255, 107, 49);
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-family: Inter, san-serif;
    color: white;
    margin-top: 15px;
}

.gen1-btn:hover {
    background-color:  rgb(255, 72, 0);
}

/* GEN 2 BUTTON */
.gen2-btn {
    background-color: rgb(0, 174, 249);
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-family: Inter, san-serif;
    color: white;
    margin-top: 15px;
}

.gen2-btn:hover {
    background-color:  rgb(0, 137, 196);
}

/* GEN 3 BUTTON */
.gen3-btn {
    background-color: rgb(249, 195, 0);
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-family: Inter, san-serif;
    color: white;
    margin-top: 15px;
}

.gen3-btn:hover {
    background-color:  rgba(249, 195, 0, 0.827);
}


/**BUTTON STYLES **/
button:hover {
    transition: ease-in-out .1s;
    cursor: pointer; 
}
.open-modal {
    visibility: visible;
    z-index: 10;
}

.gen1-close-btn, .gen2-close-btn, .gen3-close-btn {
    position: absolute;
    top: 1rem;
    right: .5rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: darkred;
    cursor: pointer;
}

.gen1-close-btn:hover, .gen2-close-btn:hover, .gen3-close-btn:hover {
    color: red;
    background-color: none;
}

/* INPUT FIELD */

input {
    padding: 5px;
    font-family: Inter, san-serif;
}

